.cover-container {
  position: relative;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  
}

.cover-image {
  width: 100%;
  height: 698px;
  object-fit: contain;
  border-radius: 15px;
}
